/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

html{
  background-image: url('brick_bkg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  width: 600px;
  margin: auto;
  background-color:rgb(209, 206, 192);
  padding: 20px;
  border: 30px ridge rgb(129, 160, 93);
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: rgb(20, 9, 1);
  text-shadow: 3px 3px 1px rgb(158, 141, 163);
}

p {
  color: rgb(24, 12, 2)
}

.done {
  color: darkseagreen;
  text-decoration: line-through solid black 2px;
}

.image-border-box {
  width: 300px;
  padding: 20px;
  border: 20px solid transparent;
  border-image: url('frame01.jpg') 200;
}